.home-main{
    height: 100vh;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    height: calc(100vh-4.5rem);
}

.home-left{
    flex: 4;
}

.home-right{
    flex: 6;
}

.home-right-p1{
    font-size: var(--h1-font-size);
}
.home-right-p2{
    font-size: var(--small-font-size);
    color: var(--blood-color);
}